.analyis .charts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.analyis .chart-container {
  flex: 1 1 45%; 
  min-width: 300px;
  height: 400px;
  height: 500px;
}

.analyis .tables-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
}

.analyis .table-container {
  flex: 1 1 45%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.analyis .table-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.analyis table {
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.analyis th, td {
  border: 1px solid #ddd;
  padding: 12px 15px;
}

.analyis th {
  background-color: #f4f4f4;
  text-align: center;
}

.analyis td {
  text-align: center;
}

.analyis tr:nth-child(even) {
  background-color: #f9f9f9;
}

.analyis tr:hover {
  background-color: #f1f1f1;
}

.analyis .total-income {
  font-weight: bold;
  font-size: 18px;
  background-color: #f4f4f4;
}

  /* 다크모드 */

  .dark-mode .chart-container {
    background-color: #444;
    color: #DEDEDE;
  }
  
  .dark-mode .tables-container {
    background-color: #444;
  }
  
  .dark-mode .table-container {
    background-color: #444;
    color: #DEDEDE;
  }
  
  .dark-mode .table-title {
    color: #DEDEDE;
  }
  
  .dark-mode th {
    background-color: rgba(36, 111, 240, 0.692);
  }
  
  .dark-mode tr:nth-child(even) {
    background-color: #666;
  }
  
  .dark-mode tr:hover {
    background-color: #555;
  }
  
  .dark-mode .total-income {
    background-color: #888888;
  }