.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  min-width: 50vw;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.table-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

table {
  width: 80%;
  border-collapse: collapse;
  font-size: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

th, td {
  border: 1px solid #ddd;
  padding: 12px 15px;
}

th {
  background-color: #f4f4f4;
  text-align: center;
}

td {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.total-income {
  font-weight: bold;
  font-size: 18px;
  background-color: #f4f4f4;
}
