.expense-list {
  width: 80%;
  max-width: 800px;
  margin: 200px auto; /* 중앙 정렬 및 위아래 여백 */
  text-align: center;
}

.expense-list .add-button {
  margin-bottom: 20px; /* 테이블 위에 추가 버튼 여백 */
  float: right; /* 테이블 오른쪽에 위치 */
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.expense-list .add-button:hover {
  background-color: #0056b3;
}

.expense-list table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.expense-list table th,
.expense-list table td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

.expense-list table th {
  background-color: #007bff;
  color: #fff;
}

.expense-list table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.expense-list table tbody tr:hover {
  background-color: #e0e0e0;
}

.expense-list table button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.expense-list table button:hover {
  background-color: #0056b3;
}

/* 다크모드 */

.dark-mode .expense-list table {
  background-color: #333;
  color: #DEDEDE;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.dark-mode .expense-list table th {
  background-color: rgba(36, 111, 240, 0.692);
  color: #DEDEDE;
}

.dark-mode .expense-list table tbody tr:nth-child(even) {
  background-color: #444;
}

.dark-mode .expense-list table tbody tr:hover {
  background-color: #555;
}

.dark-mode .expense-list table button {
  background-color: rgba(36, 111, 240, 0.692);
  color: #fff;
}

.dark-mode .expense-list table button:hover {
  background-color: rgba(36, 111, 240, 0.871);
}

.dark-mode .expense-list button.add-button {
  background-color: rgba(36, 111, 240, 0.692);
}

.dark-mode .expense-list button.add-button:hover {
  background-color: rgba(36, 111, 240, 0.871);
}