/* Sidebar Container */
.sidebar {
    width: 60px;
    height: 100vh; /* 사이드바 높이를 창 높이에 맞추기 */
    background-color: #1e3a5f;
    position: fixed;
    transition: width 0.3s;
    overflow-y: auto; /* 세로 스크롤 활성화 */
    overflow-x: hidden; /* 가로 스크롤 숨기기 */
    z-index: 1000; /* 사이드바를 다른 요소들 위에 렌더링 */
}

.sidebar::-webkit-scrollbar {
    display: none;
  }

.sidebar:hover {
    width: 200px;
}

.sidebar-logo {
    display: flex;
    padding: 10px 0;
    text-align: center;
    transition: padding 0.3s;
    overflow: hidden; /* 가로 스크롤 숨기기 */
}

.sidebar:hover .sidebar-logo {
    padding: 30px 0;
}

.logo-image {
    width: 58px; /* 이미지 너비 */
    height: auto; /* 높이 자동 조정 */
    border-radius: 50%; /* 원형 모양으로 이미지 잘라내기 */
    transition: transform 0.3s, opacity 0.3s; /* 트랜지션 효과 */
}

.sidebar:hover .logo-image {
    margin-left: 17px;
    transform: scale(1.5); /* 호버 시 이미지 확대 */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* 흰색 그림자 추가하여 빛나는 효과 생성 */
}

.sidebar-logo span {
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    margin-left: 35px; /* 텍스트와 이미지 사이의 간격 조정 */
}

/* Show text on hover */
.sidebar:hover .sidebar-logo span {
    opacity: 1;
}

/* Sidebar Items */
.sidebar-item {
    display: flex;
    align-items: center;
    padding: 19px;
    position: relative;
    overflow: hidden; /* 가로 스크롤 숨기기 */
}

.sidebar-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    width: 100%;
}

.logoName {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.sidebar-item i {
    font-size: 24px;
    margin-right: 20px;
    transition: color 0.3s; /* 아이콘 색상 변경 트랜지션 */
}

.sidebar-item span {
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show text on hover */
.sidebar:hover .sidebar-item span {
    opacity: 1;
}

/* Change background color on hover */
.sidebar-item:hover {
    background-color: #2e4b66; /* 마우스 호버 시 배경색 변경 */
}

.sidebar-item:hover i {
    color: #ff5722; /* 아이콘 색상 변경 */
}

.sidebar-item-header {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    width: 100%;
    margin-left: 15px;
    overflow: hidden; /* 가로 스크롤 숨기기 */
}

.sidebar-item-header span {
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show text on hover */
.sidebar:hover .sidebar-item-header span {
    opacity: 1;
}

/* 아이콘의 고정 너비 설정 */
.sidebar-item i {
    width: 20px; /* 아이콘의 고정 너비 설정 */
    display: flex;
    justify-content: center; /* 아이콘을 가운데 정렬 */
    align-items: center; /* 아이콘을 가운데 정렬 */
    color: #ffb84d;
}

/*다크모드*/

.dark-mode .sidebar {
    background-color: #343a40; /* 더 어두운 배경색 */
}

.dark-mode .sidebar-item:hover {
    background-color: #495057; /* 호버 시 배경색 */
}

.dark-mode .sidebar-item:hover i {
    color: #191970; /* 호버 시 아이콘 색상 변경 */
}

.dark-mode .sidebar-logo span,
.dark-mode .sidebar-item a,
.dark-mode .sidebar-item-header span {
    color: #DEDEDE; /* 다크 모드 텍스트 색상 */
}

.dark-mode .sidebar:hover .logo-image {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.481); /* 다크 모드에서 흰색 그림자 */
}

.dark-mode .sidebar-item i {
    color: #adb5bd; /* 다크 모드 아이콘 기본 색상 */
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');